<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<title>Adeodatus | Premium HTML template</title>
<meta charset="utf-8">
<meta name="description" content="Type description of your website.">
<meta name="keywords" content="Type keywords that describe your website.">
<meta name="author" content="Type author or brand which has built this website.">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="lib/css/green.css" type="text/css" media="all">
<link rel="stylesheet" href="lib/css/queries.css" type="text/css" media="all">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

<!-- Javascripts
================================================== -->
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/jquery.twitter.js"></script>
<script src="lib/js/jquery.menu.js"></script>
<script src="lib/js/jquery.mobilemenu.js"></script>
<script src="lib/js/jquery.fancybox.js"></script>
<script src="lib/js/jquery.quicksand.js"></script>
<script src="lib/js/jquery.tabs.js"></script>
<script src="lib/js/jquery.flickr.js"></script>
<script src="lib/js/jquery.easing.js"></script>
<script src="lib/js/jquery.nivoslider.js"></script>
<script src="lib/js/jquery.touchcarousel.js"></script>
<script src="lib/js/jquery.contact.js"></script>
<script src="lib/js/jquery.custom.js"></script>
</head>

<!-- Start Document and Body Pattern -->
<body class="pat9">

<!-- Boxed Wrapper -->
<div id="wrapper" class="boxed">

<!-- Header -->
<div id="header">
	<!-- Header Top -->
    <div class="container hTop">
        <div class="row">
            <div class="sixteen columns">
            	<p>Check out this new great template <a href="#">www.themeforest.net</a></p>
            </div>
        </div>
    </div>
    <hr>    
    <!-- Logo and search bar-->
    <div class="container hMiddle">
        <div class="row">
            <div class="twelve columns">
                <div id="logo">
                    <a href="index.html"><img src="img/Adeodatus-logo.png" alt="Adeodatus"></a>
                    <p>Mobile ready html5 template.</p>
                </div>
            </div>
            <div class="four columns">
            <form class="hSearchbox">
            	<input type="text" placeholder="Search here..." class="hSearchInput"/>
                <input type="submit" value="Send" class="hSearchSubmit"/>
            </form>
            </div>
        </div>
    </div> 
    <hr>       
    <!-- Navigation -->
    <div class="container hBottom">
    	<div class="row">
            <div class="sixteen columns">
                <ul id="menu">
                  <li><a href="index.html" class="current">Home</a>
                    <ul>
                      <li><a href="index-2.html">Full width slider</a></li>
                      <li><a href="index-3.html">No slider</a></li>
                      <li><a href="index-4.html">Touch carousel</a></li>
                      <li><a href="index-5.html">Alternative layout</a></li>
                    </ul>
                  </li>
                  <li><a href="about-us.html">About us</a>
                  	<ul>
                    	<li><a href="about-us.html">About us</a></li>
                        <li><a href="#">Second drop down</a>
                        	<ul>
                            	<li><a href="#">Easy to edit</a></li>
                                <li><a href="#">Awesome design</a></li>
                            </ul>
                        </li>
                    </ul>
                  </li>
                  
                  <li><a href="typography.html">Features</a>
                    <ul>
                      <li><a href="typography.html">Typography</a></li>
                      <li><a href="columns.html">Columns</a></li>
                      <li><a href="cool-icons.html">Cool icons</a></li>
                      <li><a href="featured-boxes.html">Featured boxes</a></li>
                      <li><a href="list-styles.html">Lists styles</a></li>
                      <li><a href="pricing-columns.html">Pricing columns</a></li>
                      <li><a href="tabs-and-toggles.html">Tabs and toggles</a></li>
                      <li><a href="buttons-and-boxes.html">Buttons and boxes</a></li>
                      <li><a href="images.html">Images</a></li>
                    </ul>
                  </li>
                  <li><a href="portfolio-4.html">Portfolio</a>
                    <ul>
                      <li><a href="portfolio-4.html">4 Columns - Polaroid</a></li>
                      <li><a href="portfolio-3.html">3 Columns - Circle</a></li>
                      <li><a href="portfolio-2.html">2 Columns - Rounded</a></li>
                      <li><a href="portfolio-item.html">Portfolio item</a></li>
                    </ul>
                  </li>
                  <li><a href="our-blog.html">Our blog</a>
                    <ul>
                      <li><a href="our-blog.html">Blog category</a></li>
                      <li><a href="left-sidebar.html">Left sidebar</a></li>
                      <li><a href="single-post.html">Single post</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
			</div>
    	</div>
    </div>
</div>

<!-- Insider -->
<div id="insider"> <!-- Touch carousel -->
<div class="container">
  <div class="carousel touchcarousel grey-blue">       
    <div class="touchcarousel-container blog">
      <!-- Carousel item -->
      <div class="four columns touchcarousel-item post text-center">
        <img src="img/220x160.gif" alt="Post" class="image-rounded">
        <h4>John Doe</h4>
        <p>dsdsdsdsds</p>
        </div>
      <!-- Carousel item -->
      <div class="four columns touchcarousel-item post text-center">
        <img src="img/220x160.gif" alt="Post" class="image-rounded">
        <h4>John Doe</h4>
        <p>dsdsdsdsds</p>
        </div>
      <!-- Carousel item -->
      <div class="four columns touchcarousel-item post text-center">
        <img src="img/220x160.gif" alt="Post" class="image-rounded">
        <h4>John Doe</h4>
        <p>dsdsdsdsds</p>
        </div>
      <!-- Carousel item -->
      <div class="four columns touchcarousel-item post text-center">
        <img src="img/220x160.gif" alt="Post" class="image-rounded">
        <h4>John Doe</h4>
        <p>dsdsdsdsds</p>
        </div>
      <!-- Carousel item -->
      <div class="four columns touchcarousel-item post text-center">
        <img src="img/220x160.gif" alt="Post" class="image-rounded">
        <h4>John Doe</h4>
        <p>dsdsdsdsds</p>
        </div>
      </div>
  </div>
</div>
</div>

<!-- Content -->
<div class="main-wrapper">
<div class="container">
   	  <div class="row">
       	  <div class="one-third column featured-box">
           	  <span class="icon docs"></span>
           	  <h4><strong>Extended</strong> documentation.</h4>
              <p>Well-written documentation with any tweek you can imagine.</p>
          </div>
          <div class="one-third column featured-box">
           	  <span class="icon browser"></span>
           	  <h4><strong>Responsive</strong> design.</h4>
              <p>Developed to fit all sizes, from desktop monitors to mobile phones.</p>
          </div>
          <div class="one-third column featured-box">
           	  <span class="icon pictures"></span>
           	  <h4><strong>PSD</strong> included.</h4>
              <p>You get all design files which you can use for advanced customisation.</p>
          </div>
          <div class="sixteen columns"><hr class="spacer"></div>
      </div>
  </div>

  <div class="full-width-container light text-center">        
      <div class="container">
          <div class="row">
              <div class="sixteen columns">
                  <h2>Professional template created with latest techniques.</h2>
                  <p>Adeodatus is incredibly powerfull HTML5 template with creative and simple design.<br/>
                  Can be used for busines, portfolio, agency etc.</p>
                  <a href="http://themeforest.net/user/Voodoo-pixel?ref=Voodoo-pixel" target="_blank" class="button">Buy it on ThemeForest</a>
              </div>
          </div>
      </div>
  </div>

  <div class="container">        
      <div class="row">
       	  <div class="eight columns">
           	  <div class="underline-heading">
               	  <h4>About Adeodatus.</h4>
              </div>
              <p>Sleek, unique and powerful template for better and professionall presentation.</p>
              <ul>
               	  <li class="code">HTML5 & CSS3 Techniques.</li>
                  <li class="monitor">Responsive Design.</li>
                  <li class="monitor">Browser Compatible.</li>
                  <li class="support">Extended Documantation.</li>
              </ul>
			  <a href="#" class="button">Read more</a>
          </div>
          <div class="eight columns">
           	  <div class="underline-heading">
               	  <h4>Testimonials.</h4>
              </div>
              <blockquote>
               	  <p>Great documentation and superb customer service! Thank you!</p>
                  <cite>Pixelcamp</cite>
              </blockquote>
              <blockquote>
               	  <p>Liked the design very much, great Job, Especially on Typography Good luck with sales.</p>
                  <cite>Bedros</cite>
              </blockquote>
          </div>
          <div class="sixteen columns"><hr class="spacer"></div>
      </div>

	  <div class="row">
          <div class="sixteen columns">
           	  <div class="underline-heading">
               	  <h4><strong>Latest</strong> works.</h4>
              </div>
              <p>Maecenas a mi nibh, eu euismod orci. Vivamus viverra lacus vitae tortor molestie malesuada.</p>
          </div>
          <!-- Carousel -->
          <div class="carousel touchcarousel grey-blue">       
              <div class="touchcarousel-container">
                  <!-- Item -->
                  <div class="four columns touchcarousel-item">
                      <img src="img/220x160.gif" alt="Post" class="image-polaroid">
                      <h4><a href="#">Vivamus viverra lacus.</a></h4>
                      <p>Integer libero lectus, porta acean pulvinar ac, facilisis non arcu.</p>
                  </div>
                  <!-- Item -->
                  <div class="four columns touchcarousel-item">
                      <img src="img/220x160.gif" alt="Post" class="image-polaroid">
                      <h4><a href="#">Vivamus viverra lacus.</a></h4>
                      <p>Integer libero lectus, porta acean pulvinar ac, facilisis non arcu.</p>
                  </div>
                  <!-- Item -->
                  <div class="four columns touchcarousel-item">
                      <img src="img/220x160.gif" alt="Post" class="image-polaroid">
                      <h4><a href="#">Vivamus viverra lacus.</a></h4>
                      <p>Integer libero lectus, porta acean pulvinar ac, facilisis non arcu.</p>
                  </div>
                  <!-- Item -->
                  <div class="four columns touchcarousel-item">
                      <img src="img/220x160.gif" alt="Post" class="image-polaroid">
                      <h4><a href="#">Vivamus viverra lacus.</a></h4>
                      <p>Integer libero lectus, porta acean pulvinar ac, facilisis non arcu.</p>
                  </div>
                  <!-- Item -->
                  <div class="four columns touchcarousel-item">
                      <img src="img/220x160.gif" alt="Post" class="image-polaroid">
                      <h4><a href="#">Vivamus viverra lacus.</a></h4>
                      <p>Integer libero lectus, porta acean pulvinar ac, facilisis non arcu.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="one-third column">
                <h4>Adeodatus.</h4>
                <p>Sleek, unique and powerful template for better and professionall presentation.<br/>
                Adeodatus template can be found only on Themeforest.net.</p>
            </div>
            <div class="one-third column">
                <h4>Latest from Twitter.</h4>
                <div class="tweet"></div>
            </div>
            <div class="one-third column">
                <h4>Flickr Feed.</h4>
                <div class="flickr"></div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="eight columns copy-info">
                <p>&copy; 2012 Adeodatus. All rights reserved.<br/>
              Theme by <a href="http://themeforest.net/user/Voodoo-pixel?ref=Voodoo-pixel" target="_blank">VoodooPixel</a>.</p>
            </div>
            <div class="eight columns copy-social">
                <ul class="social-icons">
                	<li class="vimeo"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="facebook"><a href="#"></a></li>
                    <li class="pinterest"><a href="#"></a></li>
                    <li class="dribbble"><a href="#"></a></li>
                    <li class="behance"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- End Boxed Wrapper -->
</div>

</body>
</html>