{% extends "GembaAdminBundle::layout.html.twig" %}

{% block title %}GembaAdminBundle:Block:index{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-12">
        <div class="page-header">
            <h2>创建简单文本</h2>
        </div>

        {{form(form)}}
    </div>

</div>

{% endblock %}
