{% extends "GembaAdminBundle::layout.html.twig" %}

{% block title %}GembaAdminBundle:Block:index{% endblock %}

{% block body %}
<div class="row">

<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">编辑模块 <a class="btn btn-success" href="{{ path('add_sub_block_home' , {'id': block.id}) }}">添加子模块</a></div>

    <div class="panel-body">
        {{form(form)}}
    </div>
</div>
</div>

</div>

{% endblock %}
